<!-- <load ="/partials/menu.html" /> -->
<section>
    <div class="header-container">
      <a href="/src/index.html">
        <div class="block-logo">
          <svg class="logo-icon" width="24" height="24">
            <use class="icon-svg" href="/src/images/sprite.svg#icon-logo"></use>
          </svg>
          <svg class="logo-title" width="77" height="14">
            <use
              class="icon-title-svg"
              href="/src/images/sprite.svg#Bookshelf"
            ></use>
          </svg></div
      ></a>
      <div class="block-menu">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <button type="button" class="menu-btn">
          <svg class="menu-icon" width="28" height="28">
            <use
              class="icon-menu-svg"
              href="/src/images/sprite.svg#icon-align-left"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
