<section class="section-home">
  <div class="support">
    <div class="category-block">
      <ul class="category-navigation">
        <li class="category-item"><a class="category-list-link first-list-link current" href="">All Categories</a></li>
      </ul>
    </div>
    <div class="support-container">
      <div class="support-title-wrapper">
        <h2 class="support-title">Support Ukraine</h2>
        <svg class="support-icon" width="20px" height="32px">
          <use href="./img/symbol-defs.svg#icon-emblem-ukr"></use>
        </svg>
      </div>
      <div class="support-slider">
        <ul class="support-list" id="funds-list"></ul>
      </div>
      <div class="support-navigation">
        <button class="support-btn-prev visually-hidden">
          <svg class="support-btn-icon" width="20px" height="20px">
            <use href="./img/symbol-defs.svg#icon-btn-continue"></use>
          </svg>
        </button>
        <button class="support-btn-next">
          <svg class="support-btn-icon" width="20px" height="20px">
            <use href="./img/symbol-defs.svg#icon-btn-continue"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
   <div class="popular-books-list">
      <div class = 'loader-wrap'><span class="loader"></span></div>
        <h2 class="home-title">Best Sellers <span class="home-title-second-color">Books</span></h2>
    </div>
    <div class="single-category-list visually-hidden">
      <h2 class="category-title"></h2>
      <ul class="single-category-item"></ul>
    </div>
</section>
