<section class="section-home">
    <div class="support">
        <div class="category-block">
          <a class="category-list-link current" href="">All Categories</a>
          <ul class = "category-navigation"></ul>
        </div>
        <div class="support-container">
          <div class="support-title-wrapper">
            <h2 class="support-title">Support Ukraine</h2>
            <svg class="support-icon" width="20px" height="32px">
              <use href="./img/symbol-defs.svg#icon-emblem-ukr"></use>
            </svg>
          </div>
          <ol class="support-list" id="funds-list"></ol>
          <a class="support-btn-link" href="">
            <svg class="support-btn-icon" width="20px" height="20px">
              <use href="./img/symbol-defs.svg#icon-btn-continue"></use>
            </svg>
          </a>
        </div>
    </div>
    <div class="popular-books-list">
      <div class = 'loader-wrap'><span class="loader"></span></div>
        <h2 class="home-title">Best Sellers <span class="home-title-second-color">Books</span></h2>
    </div>
    <div class="single-category-list visually-hidden">
      <ul class="single-category-item"></ul>
    </div>
</section>