<section class="section-home">
  <div class="support">
    <div class="category-block">
      <ul class="category-navigation">
        <li class="category-item">
          <a class="category-list-link first-list-link current" href=""
            >All Categories</a
          >
        </li>
      </ul>
    </div>
    <div class="support-container">
      <div class="support-title-wrapper">
        <h2 class="support-title">Support Ukraine</h2>
        <svg class="support-icon" width="20px" height="32px">
          <use href="./img/symbol-defs.svg#icon-emblem-ukr"></use>
        </svg>
      </div>
      <div class="support-slider">
        <ul class="support-list" id="funds-list">
          <li class="support-item">
            <span class="support-number">01</span>
            <a
              href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
              class="support-link"
            >
              <img
                target="_blank"
                rel="noreferrer noopener"
                class="support-img"
                srcset="
                  ./img/logo-partners/save-the-children.png    1x,
                  ./img/logo-partners/save-the-children@2x.png 2x
                "
                src="./img/logo-partners/save-the-children@2x.png"
                alt="Save the Children"
              />
            </a>
          </li>
          <li class="support-item">
            <span class="support-number">02</span>
            <a
              href="https://www.projecthope.org/country/ukraine/"
              class="support-link"
            >
              <img
                target="_blank"
                rel="noreferrer noopener"
                class="support-img"
                srcset="
                  ./img/logo-partners/hope.png    1x,
                  ./img/logo-partners/hope@2x.png 2x
                "
                src="./img/logo-partners/hope.png"
                alt="Project HOPE"
              />
            </a>
          </li>
          <li class="support-item">
            <span class="support-number">03</span>
            <a class="support-link" href="https://u24.gov.ua/uk"
              ><img class="support-img" src="/img/logo-partners/u24@2x.png"
            /></a>
          </li>
          <li class="support-item">
            <span class="support-number">04</span>
            <a
              href="https://internationalmedicalcorps.org/country/ukraine/"
              class="support-link"
            >
              <img
                target="_blank"
                rel="noreferrer noopener"
                class="support-img"
                srcset="
                  ./img/logo-partners/imc.png    1x,
                  ./img/logo-partners/imc@2x.png 2x
                "
                src="./img/logo-partners/imc@2x.png"
                alt="International Medical Corps"
              />
            </a>
          </li>
          <li class="support-item">
            <span class="support-number">05</span>
            <a href="https://www.msf.org/ukraine" class="support-link">
              <img
                target="_blank"
                rel="noreferrer noopener"
                class="support-img"
                srcset="
                  ./img/logo-partners/msf.png    1x,
                  ./img/logo-partners/msf@2x.png 2x
                "
                src="./img/logo-partners/msf.png"
                alt="Medicins Sans Frontieres"
              />
            </a>
          </li>
          <li class="support-item">
            <span class="support-number">06</span>
            <a href="https://www.razomforukraine.org/" class="support-link">
              <img
                target="_blank"
                rel="noreferrer noopener"
                class="support-img"
                srcset="
                  ./img/logo-partners/razom.png    1x,
                  ./img/logo-partners/razom@2x.png 2x
                "
                src="./img/logo-partners/razom.png"
                alt="RAZOM"
              />
            </a>
          </li>
          <li class="support-item">
            <span class="support-number">07</span>
            <a
              href="https://www.actionagainsthunger.org/location/europe/ukraine/"
              class="support-link"
            >
              <img
                target="_blank"
                rel="noreferrer noopener"
                class="support-img"
                srcset="
                  ./img/logo-partners/aah.png    1x,
                  ./img/logo-partners/aah@2x.png 2x
                "
                src="./img/logo-partners/aah@2x.png"
                alt="Action against hunger"
              />
            </a>
          </li>
          <li class="support-item">
            <span class="support-number">08</span>
            <a
              href="https://www.wvi.org/emergencies/ukraine"
              class="support-link"
            >
              <img
                target="_blank"
                rel="noreferrer noopener"
                class="support-img"
                srcset="
                  ./img/logo-partners/world-vision.png    1x,
                  ./img/logo-partners/world-vision@2x.png 2x
                "
                src="./img/logo-partners/world-vision@2x.png"
                alt="World vision"
              />
            </a>
          </li>
          <li class="support-item">
            <span class="support-number">09</span>
            <a href="https://prytulafoundation.org/en" class="support-link">
              <img
                target="_blank"
                rel="noreferrer noopener"
                class="support-img"
                srcset="
                  ./img/logo-partners/prytula.png    1x,
                  ./img/logo-partners/prytula@2x.png 2x
                "
                src="./img/logo-partners/prytula@2x.png"
                alt="Serhiy Prytula Charity Foundation"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="support-navigation">
        <button class="support-btn-prev visually-hidden">
          <svg class="support-btn-icon" width="20px" height="20px">
            <use href="./img/symbol-defs.svg#icon-btn-continue"></use>
          </svg>
        </button>
        <button class="support-btn-next">
          <svg class="support-btn-icon" width="20px" height="20px">
            <use href="./img/symbol-defs.svg#icon-btn-continue"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="popular-books-list">
    <h2 class="home-title">
      Best Sellers <span class="home-title-second-color">Books</span>
    </h2>
    <div class="loader-wrap"><span class="loader"></span></div>
  </div>
  <div class="single-category-list visually-hidden">
    <h2 class="category-title"></h2>
    <ul class="single-category-item"></ul>
  </div>
  <div class="pop-up is-hidden"></div>
  <!-- <load src="/partials/pop-up.html" /> -->
</section>
