<load ="/partials/shoping-modal.html" />

  <!-- <p>menu/burger</p> -->
  
  <section>
    <div class="backdrop is-hidden" data-menu-mob>
    <div class="modal-mob">
             
        <h1 class="modal-mob-text">
<img class="avatar" src="#" alt="users-photo">
            <p class="user-name">Stephen</p>
        </h1>
        <a href="">HOME</a>
        <button type="button" class="btn-shop-list" data-shopping-list>Shopping list
          <svg class="icon-bag" width="16" height="16">
          <use href="./img/icons.svg#icon-xclose"></use>
        </svg>
      </button> 

        <div class="media">
            <div class="view">
                <img class="modal-image" src="./img/ezgif-1-2d3a67b880 1.png" alt="">
            </div>
    </div>
    <button id="logout-button">Log out
      <svg class="icon-bag" width="16" height="16">
      <use href="./img/icons.svg#icon-xclose"></use>
      </svg>
    </button>
    </div>
</section>
</div>
