<div id="mobile-menu" class="mobile-menu hidden">
  <div class="modal-menu">
    <button type="button" id="mob-menu-close">X</button>
    <div class="blok-avatar">
      <img
        class="avatar"
        src="../img/stephan2x-min.png"
        alt="users-logo"
        width="37"
        height="37"
      />
      <p class="user-name">Stephen</p>
    </div>

    <div class="blok-link">
      <a href="../index.html" class="btn-home">HOME</a>
      <div class="link-shop-list">
        <a href="" class="btn-shop-list" data-shopping-list
          >Shopping list
          <svg class="icon-bag" width="16" height="16">
            <use href="../img/header.svg#icon-uil_cart"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="media">
      <div class="view">
        <img
          class="modal-image"
          src="../img/Group6min.png"
          alt="books collektion"
        />
      </div>
    </div>

    <button id="logout-button">
      <span class="logout-text">Log out</span>
      <svg class="icon-arrow" width="20" height="20">
        <use href="test.html"></use>
      </svg>
    </button>
  </div>
</div>
