<div id="mobile-menu" class="mobile-menu hidden">
  <div class="modal-menu">
    <button type="button" id="btn-signup">
      <span class="blok-signup">
        <span class="signup-text">Sign up</span>
        <svg class="icon-arrow" width="20" height="20">
          <use href="./img/header.svg#icon-arrow-narrow-right"></use>
        </svg>
      </span>
    </button>

    <div class="blok-avatar" id="avatar">
      <img
        class="avatar"
        src="./img/stephan2x-min.png"
        alt="users-logo"
        width="37"
        height="37"
      />
      <p class="user-name-mb" id="mobileUN">Stephen</p>
    </div>

    <div class="blok-link-mb" id="blokLinkMb">
      <a href="./index.html" class="btn-home-mb">HOME</a>
      <a href="./shopping.html" class="btn-shop-mb btn-shop-mob"
        >SHOPING LIST<svg class="" width="20" height="20">
          <use class="" href="./img/header.svg#icon-uil_cart"></use>
        </svg>
      </a>
    </div>

    <button id="logout-button" class="logout-button">
      <span class="blok-logout">
        <span class="logout-text">Log out</span>
        <svg class="icon-arrow" width="20" height="20">
          <use href="./img/header.svg#icon-arrow-narrow-right"></use>
        </svg>
      </span>
    </button>
  </div>
  <div class="media">
    <div class="view">
      <img
        class="modal-image"
        src="./img/Group6min.png"
        alt="books collektion"
      />
    </div>
  </div>
</div>
