<div class="backdrop visually-hidden" id="authorization">
  <div class="modal-authorization">
    <button type="button" class="modal-authorization-close">
      <svg width="28" height="28" class="modal-authorization-icon">
        <use href="./img/symbol-defs.svg#icon-x-close"></use>
      </svg>
    </button>
    <form action="#" class="sign-form">
      <label for="name" class="visually-hidden">name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="name"
        required
        class="sign-up-form-input name hide"
      />
      <label for="email" class="visually-hidden">eMAIL</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="eMAIL"
        required
        class="sign-up-form-input"
      />
      <label for="password" class="visually-hidden">pASSWORD</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="pASSWORD"
        required
        class="sign-up-form-input"
      />
      <button type="submit" class="submit-btn" id="submit">Sign up</button>
    </form>
    <div class="sign-conteiner">
      <input type="radio" id="sign-up" name="myRadio" value="sign-up" checked />
      <label for="sign-up">Sign up</label>

      <input type="radio" id="sign-in" name="myRadio" value="sign-in" />
      <label for="sign-in">Sign in</label>
    </div>
  </div>
</div>
