
        <!-- Shavala -->
    

    <div class="pagination" id="pagination">
        <span onclick="goToFirstPage()">&laquo;</span>
        <span onclick="goToPrevPage()">&lsaquo;</span>
        <span id="page1" onclick="goToPage(1)">1</span>
        <span id="page2" onclick="goToPage(2)">2</span>
        <span id="page3" onclick="goToPage(3)">3</span>
        <span>&hellip;</span>
        <span onclick="goToNextPage()">&rsaquo;</span>
        <span onclick="goToLastPage()" >&raquo;</span>
    </div>

<!-- 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
   -->
