<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/shopping-list.css" />
    <title>Shopping list</title>
  </head>
  <body>
    <header></header>
    <main>
      <section></section>
      <h1 class="headline-shopping">Shopping <span>List</span></h1>
      <div>
        <img
          class="empty-list-png is-hidden"
          src="../img/blocks.png"
          alt="list is empty"
        />
      </div>
      <section class="shopping-list">
        <div class="container">
          <ul>
            <li>
              <h2>I will find you</h2>
              <h3>Hardcover fiction</h3>
              <p>
                David Burroughs was once a devoted father to his three-year-old
                son Matthew, living a dream life just a short drive away from
                the working-class suburb where he and his wife, Cheryl, first
                fell in love--until one fateful night when David woke suddenly
                to discover Matthew had been murdered while David was asleep
                just down the hall.
              </p>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
