<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/shopping-list.css" />
    <title>Shopping list</title>
  </head>
  <body>
    <header>
      <load ="./partials/header.html" />
    </header>
    <main>
      <div class="shopping-list">
        <h1 class="headline-shopping">Shopping <span>List</span></h1>
        <div>
          <img
            class="empty-list-png is-hidden"
            src="../img/blocks.png"
            alt="list is empty"
          />
        </div>

        <ul class="book-list">
          <li class="book-item">
            <div class="book-card">
              <div class="img-title-book">
                <img src="../img/test.png" alt="Зображення обгортки книги" />
              </div>
              <div class="book-info">
                <h2 class="book-title">Назва книги</h2>
                <h3 class="book-category">Категорія книги</h3>
                <p class="book-description">Короткий опис змісту книги</p>

                <div class="bying-list">
                  <p class="book-author">Автор: Ім'я Автора</p>
                  <ul class="book-retailers">
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                  </ul>
                </div>
              </div>

              <!-- <button class="remove-button"></button> -->
            </div>
          </li>
        </ul>
      </div>
    </main>
    <script></script>
  </body>
</html>
