<section class="support">
  <div class="support-container">
    <div class="support-title-wrapper">
      <h2 class="support-title">Support Ukraine</h2>
      <svg class="support-icon" width="20px" height="32px">
        <use href="./images/symbol-defs.svg#icon-emblem-ukr"></use>
      </svg>
    </div>
    <ul class="support-list">
      <li class="support-item">
        <a href="" class="support-link"></a>
      </li>
    </ul>
    <a class="support-btn-link" href="">
      <svg class="support-btn-icon" width="20px" height="20px">
        <use href="../img/symbol-defs.svg#icon-fi-ss-caret-down"></use>
      </svg>
    </a>
  </div>
</section>
