.mobile-menu {
  position: fixed;
  top: 64px;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateX(0);
  transition: transform 300ms ease-in-out 300ms;
  overflow: hidden;
  background-image: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
}

.mobile-menu.hidden {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out 300ms;
}

.modal-menu {
  position: relative;
  margin: 0;
  z-index: 12;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  /* gap: 30%; */
  padding: 20px;
  width: 100%;
  height: 100%;
}
.blok-avatar {
  display: flex;
  text-align: center;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.user-name {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
}

.blok-link-mb {
  margin-left: 40%;
  display: flex;
  gap: 17px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin-top: 130px;
}
.btn-shop-mb,
.btn-home-mb {
  min-width: 72px;
  min-height: 34px;
  padding: 8px 16px;
  border-radius: 36px;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.btn-shop-mb {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  gap: 4px;
  color: #fff;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  fill: #fff;
  stroke: #fff;
}
.icon-bag {
  margin-left: 4px;
  display: block;
  fill: #fff;
}

.icon-arrow {
  fill: #eac645;
}

.icon-close {
  fill: #000;
}

.logout-button {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  width: 118px;
  height: 48px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #fff;

  position: absolute;
  bottom: 100px;
  left: 20px;
  padding: 10px;
}

.logout-text {
  color: #111;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.blok-logout {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

#mob-menu-close {
  display: flex;
  margin-left: auto;
  top: 20px;
  left: 20px;
  background: none;
}

.media {
  display: flex;
  position: absolute;
  z-index: 11;
  top: 40%;
  left: 0;
  width: 450px;
  height: 439px;
}

.view {
  width: 65%;
}
.view img,
.popup img {
  max-width: 100%;
}

.modal-image {
  position: absolute;
  width: 450px;
  height: 439px;
  left: 0px;
  top: 120px;
  transform: rotate(-15deg);
}
.btn-home-mb {
  color: #fff;
}
.btn-shop-mb {
  padding-left: 0;
}
.btn-shop-mob.active {
  padding-left: 16px;
}

.btn-home-mb.active,
.btn-shop-mb.active {
  background-color: #eac645;
  color: #111111;
  fill: #111111;
  stroke: #111111;
}
#btn-signup {
  width: 184px;
  height: 48px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #4f2ee8;
}

.blok-signup {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  color: #fff;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}
