/*  Shavala */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    display: flex;
    padding: 5px 10px;
    margin: 0 2px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    width: 36px;
    height: 38px;
    border-radius: 50%;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
 }

.pagination .active {
    
}

