.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up.is-hidden .card {
  transform: translate(-50%, -50%) scaleX(0) rotate(80deg);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #fafafa;
  border: 2px solid #111;
  border-radius: 18px;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: none;
  padding: 0;
  border-style: none;
  position: relative;
  top: 6px;
  left: 288px;
  right: 12px;
  bottom: 4px;
}

.card-close:is(:hover) {
  fill: rgba(79, 46, 232, 1);
}

.book-img {
  padding-left: 14px;
  padding-right: 14px;
  width: 287px;
}

.description {
  padding: 0 14px;
}

.book-title {
  color: #111;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  padding-bottom: 2px;
}

.author {
  color: #b4afaf;
  font-size: 12px;
  font-family: DM Sans;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  padding-bottom: 18px;
}

.text-card {
  color: #111;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.card-button {
  position: relative;
  top: 42px;
  left: 62px;
  right: 62px;
  margin: 0 auto;
  width: 211px;
  height: 46px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
}

.card-button:focus,
.card-button:hover {
  cursor: pointer;
  color: #ffff;
  background: #4f2ee8;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 579px;
    height: 465px;
    background: #fafafa;
    border: 2px solid #111;
    border-radius: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .card-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: none;
    padding: 0;
    border-style: none;
    position: relative;
    top: 24px;
    left: 527px;
    right: 24px;
    z-index: 2;
  }

  .card-close:is(:hover) {
    fill: rgba(79, 46, 232, 1);
  }

  .card-close:is(:hover) {
    fill: rgba(79, 46, 232, 1);
  }

  .book-img {
    padding-top: 5px;
    width: 192px;
    height: 281px;
    padding-top: 40px;
  }

  .book-titel {
    color: #111;
    font-size: 16px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.64px;
    padding-top: 40px;
    padding-bottom: 2px;
  }

  .author {
    color: #b4afaf;
    font-size: 12px;
    font-family: DM Sans;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    padding-bottom: 18px;
  }

  .text-card {
    width: 279px;
    color: #111;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
  }

  .book-shop {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    gap: 20px;
  }

  .card-button {
    position: absolute;
    top: 361px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    width: 499px;
    height: 64px;
    background-color: #ffff;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
  }

  .card-button:focus,
  .card-button:hover {
    cursor: pointer;
    color: #ffff;
    background: #4f2ee8;
  }
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
  .card {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 579px;
    height: 465px;
    background: #fafafa;
    border: 2px solid #111;
    border-radius: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .card-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: none;
    padding: 0;
    border-style: none;
    position: relative;
    top: 24px;
    left: 527px;
    right: 24px;
    z-index: 2;
  }

  .card-close:is(:hover) {
    fill: rgba(79, 46, 232, 1);
  }

  .card-close:is(:hover) {
    fill: rgba(79, 46, 232, 1);
  }

  .book-img {
    padding-top: 5px;
    width: 192px;
    height: 281px;
    padding-top: 40px;
  }

  .book-titel {
    color: #111;
    font-size: 16px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.64px;
    padding-top: 40px;
    padding-bottom: 2px;
  }

  .author {
    color: #b4afaf;
    font-size: 12px;
    font-family: DM Sans;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    padding-bottom: 18px;
  }

  .text-card {
    width: 279px;
    color: #111;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
  }

  .card-button {
    position: absolute;
    top: 361px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    width: 499px;
    height: 64px;
    background-color: #ffff;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
  }

  .card-button:focus,
  .card-button:hover {
    cursor: pointer;
    color: #ffff;
    background: #4f2ee8;
  }
}

.book-link {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.amazon-shop {
  display: inline-block;
  width: 62px;
  height: 19px;
  background: url('../img/logo-partners/amazon.png'),
    0.741px 0px / 97.61% 100% no-repeat;
  filter: grayscale(100%);
}

.ibook-shop {
  display: inline-block;
  width: 33px;
  height: 32px;
  background: url('../img/logo-partners/ibook.png'),
    0px -0.889px / 100% 105.556% no-repeat;
  filter: grayscale(100%);
}
.bookshop-shop {
  display: inline-block;
  width: 38px;
  height: 36px;
  background: url('../img/logo-partners/bookshop.png'),
    -21.848px -19.981px / 218.432% 251.292% no-repeat;
  filter: grayscale(100%);
}
