ul {
  padding-inline-start: 0;
}
li {
  list-style: none;
}

.is-hidden {
  display: none;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}
body.dark {
  background-color: #202024;
  color: #ffffff;
}

.shopping-section{
  display: flex;
  gap: 40px;
  position: relative;
  top: 112px;
  left: 24px;
}

.shopping-support{
  display: none;
}

.shopping-list {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.headline-shopping {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -1.28px;
  text-align: left;
  margin-bottom: 120px;
}
.purple-header-word {
  color: #4f2ee8;
}

.book-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #111111;
  fill: #ffffff;
  box-sizing: border-box;
}
.book-list.dark {
  background-color: #202024;
  color: #ffffff;
  fill: #4f2ee8;
  stroke: #ffffff;
}
.book-item {
  margin-bottom: 20px;
  display: flex;
  width: 335px;
  gap: 14px;
  min-height: 170px;
  padding: 14px;
  box-sizing: border-box;
  background-color: inherit;
  position: relative;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
}
.img-title-book {
  border-radius: 12px;
  display: block;
  width: 100px;
  height: 142px;
}

.buying-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.retailer-logo {
  filter: grayscale(100%);
}
.retailer-logo:hover {
  filter: drop-shadow(0px 3px 3px 0px rgba(0, 0, 0, 0.15));
}
.book-info {
  display: flex;
  flex-direction: column;
}
.book-title {
  font-family: DM Sans;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.book-category {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.36px;
  color: #b4afaf;
}

.book-description {
  max-width: 193px;
  max-height: 68px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.book-author {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.48px;
  color: #b4afaf;
}

.book-retailers {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.amazon-logo {
  width: 32px;
  height: 11px;
}

.ibook-logo {
  width: 16px;
  height: 16px;
}

.bookshop-logo {
  width: 16px;
  height: 16px;
}

.empty-list-png {
  width: 265px;
  height: 248px;
  margin: 0 auto;
}

.empty-list-description {
  color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 18px;
    font-family: DM Sans;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.36px;
    max-width: 349px;
}

.remove-book {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.remove-book-item {
  stroke: white;
  fill: #4f2ee8;
}

@media screen and (min-width: 768px) {
  .shopping-list {
    max-width: none;
    width: 768px;
  }
  .book-description {
    max-width: 508px;
    max-height: 53px;
  }
  .book-item {
    width: 704px;
    min-height: 213px;
  }
  .headline-shopping {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
    margin-bottom: 140px;
  }

  .book-card {
    justify-content: flex-start;
    margin-top: 24px;
    margin-bottom: -24px;
    margin-right: 24px;
    margin-left: 24px;
  }
  .img-title-book {
    width: 116px;
    height: 165px;
  }
  .amazon-logo {
    margin-top: 8px;
    width: 48px;
    height: 15px;
  }

  .ibook-logo {
    width: 28px;
    height: 27px;
  }
  .bookshop-logo {
    width: 32px;
    height: 30px;
  }
  .buying-list {
    margin-top: 60px;
    gap: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .support-container {
    display: block;
  }

  .shopping-list {
    width: 1020px;
  }

  .book-item {
    width: 948px;
  }
  .book-description {
    max-width: 808px;
    max-height: 53px;
  }
}


