.support-container {
    max-width: 335px;
    height: 352px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
    border-radius: 16px;
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
    padding: 24px 40px 20px 40px;
}

.support-title-wrapper {
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
}

.support-title {
    color: #FFF;
    font-size: 28px;
    font-family: DM Sans;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.12px;
}

.support-icon {
    fill: #FFFFFF
}

.support-slider {
    height: 188px;
}

.support-list {
    display: block;
    margin: 0;
    color: #FFF;
    font-size: 14px;
    font-family: DM Sans;
    line-height: 18px;
    letter-spacing: -0.56px;
}

.support-item {
    display: flex;
    align-items: center;
}

.support-number {
    margin-right: 10px;
}

.support-link {
    display: block;
    align-items: center;
    padding-bottom: 20px;
}

.support-img {
    max-width: 100%;
    height: 32px;
    filter: brightness(0%) invert(100%);
}

.support-navigation {
    display: flex;
    margin-top: 10px;
}

.support-btn-prev {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #fff;
    border: none;
    rotate: 180deg;
}

.support-btn-next{
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #fff;
    border: none;
}

.support-btn-icon {
    display: block;
    fill: #4F2EE8;
}



@media screen and (min-width: 480px) {
    .support-container {
        max-width: none;
        width: 335px;
    }
}
@media screen and (min-width: 768px) {
    .support-container {
        height: 472px;
        padding: 24px 40px 14px 40px;
    }

    .support-slider {
        height: 320px;
    }

    .support-btn {
        width: 38px;
        height: 38px;
        border-radius: 38px;
    }
}
@media screen and (min-width: 1200px) {
    .support-container {
        width: 356px;
        height: 490px;
        padding: 24px 40px 24px 40px;
    }
       
    .support-slider {
        height: 327px;
    }
}
